<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs")%>
    <div class="about content">
      <h2>About us</h2>
      <p>
        This is project for learning purposes. I'm creating this Node JS project
        for learning Node and Express. Also I'm using MongoDb with Mongoose for
        manipulating with data.
      </p>
      <p>
        I think Node and Express are the best option for backend development to
        learn this days. Also this combination with Mongo Db and Mongoose is
        really awesome. I use this No-SQL database because it go naturally with
        Node and Express.
      </p>
      <p>
        This is my second project in Node JS, Hope to make many more projects.
        Also once I learn Node and Express I want to build MERN applications.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
